Options -Indexes

php_value error_reporting -1
php_value display_errors 1

RewriteEngine On
RewriteRule ^index\.php$ - [L]
RewriteRule ^(.*(mp3|mp4))$ ./index.php?path=$1 "[L,B= ]"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ ./index.php?path=$1 [L,QSA]
