html, body {
	width: 100%;
}

.lecture {
	position: relative;
	white-space: nowrap;
	vertical-align: top;
	overflow: hidden;
}

.video {
	display: inline-block;
	vertical-align: top;
}
#video {
	width: 100%;
	object-fit: contain;
}

.slides {
	display: inline-block;
	vertical-align: top;
}
.slides img {
	width: 100%;
}

.drawer, .options {
	margin-top: 20px;
}

.drawer img {
	height: 75px;
	cursor: pointer;
}

.drawer img.current {
	opacity: 0.5;
}

.flag img {
	height: 16px;
	opacity: 0.5;
}
.flag:hover img, .flag:focus img {
	opacity: 1;
}
.flag-dan {
	margin-left: 6px;
	margin-right: 6px;
}

.ipa:before {
	content: "[";
}
.ipa {
	white-space: nowrap;
}
.ipa:after {
	content: "]";
}

.task-text input {
	display: inline-block;
	width: 20ex;
}

.task-text-area textarea {
	min-height: 100px;
}

.hyphenate img {
	max-height: 100px;
	background-color: #fff;
	padding: 10px;
}

.q:before {
	content: "Q: ";
}
.a:before {
	content: "A: ";
}

#welcome-words {
	white-space: pre-wrap;
}

@media (max-width: 767px) {
	.alternate > div:nth-child(odd) {
		background-color: #111;
	}
}
@media (min-width: 768px) {
	.alternate > div:nth-child(4n-3), .alternate > div:nth-child(4n) {
		background-color: #111;
	}
}
